* {
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    background-color: gainsboro;
}

header {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(45, 50, 117);
    border-radius: 12px;
    background-color: rgb(104, 39, 38);
}


.questionHeader, .introHeader {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: xx-large;
    color: black;

}

.timerTopRight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(45, 50, 117);
    border-radius: 12px;
    background-color: rgb(104, 39, 38);

}

.timerTopRight h1 {
    font-size: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(45, 50, 117);
    border-radius: 12px;
    background-color: rgb(104, 39, 38);
    color: white;
    display: flex;
    flex-direction: row;
    width: 15%;
    justify-content: space-evenly;
}

.timerTopRight h1 ~ p {
    font-size: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(45, 50, 117);
    border-radius: 12px;
    background-color: rgb(104, 39, 38);
    color: white;
    display: flex;
    flex-direction: row; 

}

.timerTopRight h1 a {
    text-align: right;
    text-decoration: none;
    color: white;
    background-color: rgb(104, 39, 38);

    
}

.introParagraph p, .scorecard {
    margin-top: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
}

.mainpageButton {
    font-family: 'Prompt', sans-serif;
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    height: 125px;
    width: 250px;
    border-radius: 24px;
}

.questionbuttonflexcolumn {
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 75px;
}

.answerButtons {
    font-family: 'Prompt', sans-serif;
    margin-top: 5px;
    font-size: 28px;
    font-weight: normal;
    height: 150px;
    width: 250px;
    border-radius: 20px;
}

.mainpageButton:hover {
    background-color: rgb(45, 50, 117);
    color: whitesmoke;
    animation: fadeIn ;
    animation-duration: 1.5s;
}

.answerButtons:hover {
    background-color: rgb(45, 50, 117);
    color: whitesmoke;
    animation: fadeIn ;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.hidden {
    display: none;
}